<div class="flex flex-row h-[75vh]">
    <div class="bg-[url('./pizzaLeft.jpg')] bg-cover bg-center  w-[50vw]">
    </div>

    <div class=" w-[50vw] flex flex-col justify-center items-center ">
        <div class="bg-white p-8 rounded-2xl shadow-xl">
            <h1 class="text-3xl font-bold text-red-600 mb-4">Contact Us</h1>
            <h2 class="text-xl font-semibold text-gray-800 mb-2">Dinesh's Pizzeria</h2>

            <div class="text-gray-600 mb-2">
                📍 32 Spring St, New York, NY 10012
            </div>

            <div class="text-gray-600">
                📞 Ph: <span class="font-medium text-black">212-941-7994</span>
            </div>
        </div>

    </div>
</div>
