<div class="bg-[url('./multiplePizzas.jpeg')] bg-cover bg-center  h-[25vh]">

</div>
<div class="flex flex-row justify-evenly mt-2">
    <div class="p-2">
        <img src="./makingpizza.jpeg" class="h-[500px] w-[500px]" >
    </div>
    <div class="max-w-2xl">
        <h3 class="text-black text-4xl font-semibold p-3 text-center">About Pizza</h3>
        <div class="mt-2 p-2">
            <h3 class="text-black font-bold text-3xl">Origins in Ancient Times</h3>
           <p class="text-gray-900 font-normal text-lg">
             Ancient flatbreads: The concept of pizza began with ancient civilizations like the Greeks, Egyptians, and
            Romans, who baked flatbreads topped with oils, herbs, and local ingredients.</p>
           <p class="text-gray-900 font-normal text-lg">These early forms of "pizza" were simple and practical—quick to cook and easy to eat.</p>
            
        </div>
        <div class="mt-2 p-2">
            <h3 class="text-black font-bold text-3xl">Pizza in Italy (Naples)</h3>
           <p class="text-gray-900 font-normal text-lg">
            Modern pizza as we know it originated in Naples, Italy in the 18th and 19th centuries.Poor Neapolitans began adding tomatoes (a New World crop) to flatbread.
            It became a cheap, delicious street food for workers and families.</p>
        </div>
        <div class="mt-2 p-2">
            <h3 class="text-black font-bold text-3xl">Pizza Margherita (1889)</h3>
           <p class="text-gray-900 font-normal text-lg">
            According to legend, in 1889, pizza maker Raffaele Esposito created a pizza for Queen Margherita of Savoy.He topped it with tomatoes (red), mozzarella (white), and basil (green) to represent the Italian flag.This pizza was named Pizza Margherita and became iconic.</p>    
        </div>
    </div>
    </div>
