
<div class="bg-black text-white text-xl">
    <div class="max-w-7xl mx-auto flex justify-between items-center p-5">
        <div class="flex" routerLink="">
        <img src="/pizzaMain.png" alt="pizza" height="64px" width="64px">
    </div>
    <div class="md:flex space-x-8">
      <a routerLink=""  routerLinkActive="text-green-500 font-bold"  [routerLinkActiveOptions]="{ exact: true }" class="hover:text-blue-400 px-2 cursor:pointer">Home</a>
      <a routerLink="menu"  routerLinkActive="text-green-500 font-bold" class="hover:text-blue-400 px-2 cursor:pointer">Menu</a>
      <a routerLink="about" routerLinkActive="text-green-500 font-bold" class="hover:text-blue-400 px-2 cursor:pointer">About</a>
      <a routerLink="contact" routerLinkActive="text-green-500 font-bold"  class="hover:text-blue-400 px-2 cursor:pointer">Contact</a>
    </div>
</div>
</div>
